body {
    background-color:peachpuff;
    color:chocolate;
    margin: 0;
    font-size: 20px;
}
.menu-celek{
    display: flex;
    height: 4em;
    justify-content: flex-end;
    align-items: center;
    background-color: darksalmon;
    color: peachpuff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-buttons{
    margin: 0.5em;
}
.menu-buttons:hover {
    color: mediumblue;
    cursor: pointer;
    text-decoration: underline;
}
.jidelnicek-komplet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 8px 0px 8px;
    font-size: 1em;
}
.jidelnicek-nadpis{
    color:goldenrod;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    text-decoration: underline;
    display: flex;
}
.jidelnicek-policka{
    flex-direction: row;
    display: flex;
}
.jidelnicek-prvek{
    justify-content: flex-start;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 14px;
    width: 19rem;
    display:flex;
}
p{
    font-size: 1em;
}
a{
    text-decoration: none;
    color: peachpuff;
}
a:hover{
    color: mediumblue;
    cursor: pointer;
    text-decoration: underline;
}
@media only screen and (max-width: 600px){
    .jidelnicek-nadpis{
        color:goldenrod;
        font-size: 2em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: flex-start;
        text-decoration: underline;
        display: flex;
    }
    .jidelnicek-policka{
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
    }
}